.button {
  display: inline-block;
  font-family: $font-title;
  font-weight: 400;
  color: $color-white;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  border: none;
  background-color: $color-primary;

  &:hover,
  &:active {
    background-color: $color-primary-ha;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--secondary {
  color: $color-grey-dark;

  background-color: $color-grey-light;
}
