.card {
  padding: 19px 20px 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 13px;

  @media (min-width: $tablet-width) {
    background-color: $color-grey-light;
    padding: 39px 38px;
    padding-top: 0;
    grid-template-columns: auto;
    grid-template-rows: min-content auto min-content;
    row-gap: 34px;
  }

  @media (min-width: $desktop-width) {
    row-gap: unset;
    grid-template-rows: 1fr auto min-content;;
  }

  &__content {
    margin-bottom: 9px;
    @media (min-width: $tablet-width) {
      margin-bottom: 20px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 33px;
    }
  }

  &__link {
    text-decoration: none;
  }

  &__title {
    font-family: $font-title;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $color-grey-dark-2;
    margin: 0;
    margin-bottom: 18px;
    width: 76px;

    text-transform: uppercase;

    br {
      display: none;

      @media (min-width: $tablet-width) {
        display: inline;
      }
    }

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 24px;
      width: 100%;
      margin-bottom: 21px;
      text-align: center;
    }
  }

  &__image {
    align-self: center;
    justify-self: center;

    @media (min-width: $tablet-width) {
      align-self: start;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 42px;
    }
  }

  &__list {
    font-size: 12px;
    line-height: 16px;
    color: $color-grey-dark;
    display: grid;
    grid-template-columns: auto auto;
    margin: 0;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 1;
      row-gap: 5px
    }
  }

  &__list-title {
    @media (min-width: $tablet-width) {
      border-bottom: 1px solid #CDCDCD;
      padding-bottom: 9px;
    }
  }

  &__definition {
    text-align: right;
    @media (min-width: $tablet-width) {
      border-bottom: 1px solid #CDCDCD;
      padding-bottom: 9px;
      margin-left: 0;
    }
  }

  &__button {
    grid-column: 1 / -1;
    padding: 10px 20px;
  }
}


