.card-row {
  padding-top: 13px;
  padding-bottom: 19px;

  @media (min-width: $tablet-width) {
    padding: 26px 38px 28px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 25px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 244px;
    align-items: center;
    column-gap: 38px;
    padding: 16px 0;
  }

  &__title {
    font-family: $font-title;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: $color-grey-dark-2;
    margin: 0;
    margin-bottom: 13px;

    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      margin-bottom: 0;
    }
  }

  &__list {
    font-size: 14px;
    line-height: 1;
    color: $color-grey-dark;
    margin: 0;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 20px;
      display: grid;
      grid-template-columns: auto 74px;
      gap: 19px;
      justify-content: end;
      margin-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 1fr auto;
    }
  }
  &__text {
    @media (min-width: $tablet-width) {
      justify-self: end;
    }

    @media (min-width: $desktop-width) {
      justify-self: start;
    }
  }

  &__definition {
    @media (min-width: $tablet-width) {
      margin-left: auto;
    }

    @media (min-width: $desktop-width) {
      min-width: 44px;
    }
  }

  &__button {
    display: block;
    padding: 10px 20px;

    @media (min-width: $tablet-width) {
      grid-column: 1 / -1;
    }

    @media (min-width: $desktop-width) {
      grid-column: 3 / -1;
      padding: 7px 26px;
    }
  }
}
