.card__title {
  font-family: $font-title;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $color-grey-dark-2;

  text-transform: uppercase;
}

.card__list {
  font-size: 12px;
  line-height: 16px;
  color: $color-grey-dark;
}
