.card-row__title {
  font-family: $font-title;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: $color-grey-dark-2;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.card-row__list {
  font-size: 14px;
  line-height: 1;
  color: $color-grey-dark;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}
