.catalog-list {

  &__item {
    border-top: 1px solid #EBEBEB;

    &:nth-of-type(even) {
      img {
        width: 84px;
        align-self: end;
      }
    }

    &:last-of-type {
      border-bottom: 1px solid #EBEBEB;
    }
  }

  &__show-more {
    border-bottom: 1px solid #EBEBEB;
    padding: 25px 20px;
  }
}

.catalog-list__container {
  margin: 0 auto;
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 68px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 64px;
  }
}
