.contacts {
  @media (min-width: $desktop-width) {
    min-height: 400px;
    position: relative;
    display: grid;
    grid-template-columns: 1220px;
    align-items: center;
    justify-content: center;
  }

  &__container {
    padding: 26px 20px;
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;

    @media (min-width: $tablet-width) {
      display: grid;
      padding: 56px 70px;
      grid-template-columns: 172px 172px;
      justify-content: space-between;
    }

    @media (min-width: $desktop-width) {
      position: relative;
      z-index: 1;
      margin: 0;;
      padding: 56px 80px;
      width: 565px;
      background-color: $color-white;
      grid-template-columns: 163px 155px;
    }

    &--inner {
      background-color: $color-grey-light;

      @media (min-width: $desktop-width) {
        background-color: $color-white;
      }
    }
  }

  &__text {
    margin: 0;
    font-family: $font-title;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $color-grey-dark-3;

    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 26px;
    }
  }

  &__address {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    color: $color-grey-dark;
    font-style: normal;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      text-align: right;
      font-size: 16px;
    }

    @media (min-width: $desktop-width) {
      text-align: left;
      font-size: 16px;
    }
  }

  &__map {
    display: block;
    width: 100%;
    height: 362px;
    border: none;

    @media (min-width: $desktop-width) {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      height: 400px;
    }
  }
}
