.example {
  padding: 20px;

  background-color: $color-grey-light-2;
}

.example__container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.example__title {
  font-family: $font-title;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 1;
  }
}

.example__text {
  color: $color-grey-dark;
}

.example__list {
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
  }
}

.example__item-title {
  font-family: $font-body;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: $color-grey-dark;

  text-transform: lowercase;

  @media (min-width: $tablet-width) {
    font-size: 14px;
  }
}

.example__item-definition {
  font-family: $font-title;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__spending {
  font-family: $font-title;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    text-align: left;
  }
}
