.how-work {
  padding: 20px;
}

.how-work__title {
  font-family: $font-title;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.how-work__list {
  list-style: none;
}

.how-work__item {
  color: $color-grey-dark;
}
