.offer {
  padding: 43px;

  color: $color-white;
  text-align: center;
  background-color: $color-primary;
  background-image: url("../img/background/catbag.jpg");
}

.offer__text {
  font-size: 16px;
  line-height: 20px;
}
