.page-header {
  position: relative;
  @media (min-width: $desktop-width) {
    &::after {
      position: absolute;
      content: "";
      left: 50%;
      right: 0;
      top:0;
      bottom: 0;
      background-color: $color-primary-2;
      z-index: -3;
    }

  }

  &--inner {
    border-bottom: 1px solid #D9D9D9;

    @media (min-width: $tablet-width) {
      border-bottom: none;
    }

    .site-list__link {
      @media (min-width: $desktop-width) {
        color: $color-grey-dark-3;
      }
    }

    .site-list__item--current {
      .site-list__link {
        &::after {
          @media (min-width: $desktop-width) {
            background-color: $color-primary;
          }
        }
      }
    }

    &::after {
      @media (min-width: $desktop-width) {
        display: none;
      }
    }
  }
}

.page-header__nav {
  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 0 auto;
    padding: 24px 0;

    display: grid;
    grid-template-columns: 174px 1fr;
    gap: 16px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 55px 0 25px;
    grid-template-columns: 174px 50%;
    justify-content: space-between;
  }
}

.page-header__bar {
  @media (max-width: $mobile-width-only) {
    width: 320px;
    margin: 0 auto;
    padding: 12px 20px 13px;

    display: grid;
    grid-template-columns: 34px 1fr 34px;
    gap: 16px;
    align-items: center;
  }
}

.page-header__logo {
  grid-column: 1 / 3;
}

.page-header__toggle {
  position: relative;
  display: block;
  width: 39px;
  height: 39px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__nav--closed .page-header__toggle::before {
  position: absolute;
  right: 5px;
  top: 11px;
  content: "";
  width: 24px;
  height: 1.5px;
  background-color: $color-black;
  box-shadow:
    0 8px 0 $color-black,
    0 16px 0 $color-black;
}

.page-header__nav--opened .page-header__toggle {
  &::before,
  &::after{
    top: 50%;
    right: 5px;
    content: "";
    position: absolute;
    width: 25px;
    height: 1.5px;
    background-color: $color-black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

}

.page-header__list {
  margin: 0;

  @media (max-width: $mobile-width-only) {
    background-color: $color-white;

    .page-header__nav--closed & {
      display: none;
    }

    .page-header__nav--opened & {
      position: absolute;
      left: 0;
      right: 0;
      display: block;
    }
  }

  @media (min-width: $tablet-width) {
    margin-right: -17px;
  }
}
