.page-footer {
  padding: 20px;

  background-color: $color-grey-light;
}

.page-footer__container {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 164px 1fr 164px;
    align-items: center;
    gap: 16px;
  }
}

.page-footer__logo {
  @media (max-width: $mobile-width-only) {
    margin-top: 10px;
    margin-bottom: 23px;
  }
}

.page-footer__social {
  margin: 0;
  @media (max-width: $mobile-width-only) {
    border-top: 1px solid $color-grey-light-5;
    border-bottom: 1px solid $color-grey-light-5;
  }
}

.page-footer__developer {
  @media (max-width: $mobile-width-only) {
    margin-top: 22px;
  }
}
