.promo {
  padding: 27px 20px 20px;
  color: $color-black;
  background-color: $color-primary;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/background/promo.jpg");

  @media (max-width: $mobile-width-only) {
    color: $color-white;
    text-align: center;
    background:
      url("../img/background/promo.jpg") no-repeat 50% 0,
      linear-gradient(to top, $color-white 198px, $color-primary 198px);
  }
}

.promo__container {
  @media (min-width: $tablet-width) {
    padding-left: 90px;
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 25px;

  font-family: $font-title;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;

  @media (min-width: $tablet-width) {
    font-size: 60px;
  }
}

.promo__text {
  margin: 0;
  margin-bottom: 29px;

  font-family: $font-title;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.promo__button {
  padding: 14px 26px;
  width: 100%;
}
