.show-more__title {
  font-family: $font-title;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $color-grey-dark-3;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }
}

.show-more__text {
  font-size: 12px;
  line-height: 16px;
  color: $color-grey-dark;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
  }
}
