@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  min-width: 320px;
  height: 100%;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .page {
    font-size: 16px;
    line-height: 24px;
  }
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-list {
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  list-style: none;
}
@media (max-width: 767px) {
  .site-list {
    border-top: 1px solid #e6e6e6;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .site-list {
    font-size: 18px;
    line-height: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}
@media (min-width: 1300px) {
  .site-list {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: 767px) {
  .site-list__item {
    border-bottom: 1px solid #e6e6e6;
  }
}

.site-list__link {
  display: block;
  padding: 22px 20px 24px;
  color: #000000;
  text-decoration: none;
}
.site-list__link:link:hover {
  opacity: 0.6;
}
.site-list__link:link:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .site-list__link {
    position: relative;
    border-bottom: none;
    padding: 17px;
  }
  .site-list__item--current .site-list__link::after {
    content: "";
    position: absolute;
    bottom: 8px;
    left: 17px;
    right: 17px;
    height: 2px;
    background-color: #68b738;
  }
}
@media (min-width: 1300px) {
  .site-list__link {
    color: #ffffff;
  }
  .site-list__item--current .site-list__link::after {
    background-color: #ffffff;
  }
}

.promo {
  padding: 27px 0 20px;
  color: #000000;
  background-color: #68b738;
}
@media (max-width: 767px) {
  .promo {
    color: #ffffff;
    text-align: center;
    background: url("../img/background/promo.jpg") no-repeat 50% 0, linear-gradient(to bottom, #63a63b 303px, #ffffff 303px);
  }
}
@media (min-width: 768px) {
  .promo {
    position: relative;
    padding-top: 31px;
    background-color: transparent;
  }
}
@media (min-width: 1300px) {
  .promo {
    padding: 0;
  }
  .promo::after {
    position: absolute;
    content: "";
    top: -144px;
    bottom: 0;
    left: 50%;
    right: 0;
    z-index: -2;
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-color: #63a63b;
    background: url("../img/background/promo-large.jpg");
  }
}

@media (min-width: 768px) {
  .promo__container {
    min-height: 810px;
    position: relative;
    padding-left: 90px;
    padding-right: 200px;
  }
}
@media (min-width: 1300px) {
  .promo__container {
    min-height: 553px;
    padding-top: 82px;
    padding-left: 80px;
    padding-right: 610px;
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 25px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
}
@media (min-width: 768px) {
  .promo__title {
    margin-bottom: 41px;
    font-size: 60px;
  }
}

.promo__text {
  margin: 0;
  margin-bottom: 29px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .promo__text {
    margin-bottom: 49px;
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .promo__img {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 709px;
    height: 609px;
    z-index: -1;
  }
}
@media (min-width: 1300px) {
  .promo__img {
    left: calc(50% - 137px);
    top: 0;
    width: 552px;
    height: 499px;
  }
}

.promo__button {
  padding: 14px 26px;
  width: 100%;
}
@media (min-width: 768px) {
  .promo__button {
    width: auto;
  }
}

.button {
  display: inline-block;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  background-color: #68b738;
}
.button:hover, .button:active {
  background-color: #5eaa2f;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button--secondary {
  color: #444444;
  background-color: #f2f2f2;
}

@media (min-width: 1300px) {
  .catalog-sections__container {
    padding-top: 82px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.catalog-sections__item {
  padding: 24px 20px 20px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .catalog-sections__item {
    position: relative;
    padding: 77px 316px 57px 52px;
  }
}
@media (min-width: 1300px) {
  .catalog-sections__item {
    padding: 47px 52px 59px;
  }
}
@media (max-width: 1300px) {
  .catalog-sections__item + .catalog-sections__item {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .catalog-sections__item + .catalog-sections__item {
    margin-top: 20px;
  }
}

.catalog-sections__article-title {
  position: relative;
  min-height: 50px;
  margin: 0;
  margin-bottom: 22px;
  padding-left: 68px;
  display: flex;
  align-items: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .catalog-sections__article-title {
    position: static;
    margin-bottom: 24px;
    padding-left: 0;
    font-size: 36px;
    line-height: 1;
  }
}
@media (min-width: 1300px) {
  .catalog-sections__article-title {
    position: relative;
    min-height: 100px;
    padding-left: 162px;
    margin-bottom: 39px;
  }
}
.catalog-sections__article-title::before, .catalog-sections__article-title::after {
  content: "";
  position: absolute;
}
.catalog-sections__article-title::before {
  width: 50px;
  height: 50px;
  top: calc(50% - 25px);
  left: 0;
  border-radius: 50%;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .catalog-sections__article-title::before {
    width: 200px;
    height: 200px;
    top: 92px;
    left: auto;
    right: 62px;
  }
}
@media (min-width: 1300px) {
  .catalog-sections__article-title::before {
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
  }
}

.catalog-sections__article-title--slim::after {
  width: 36px;
  height: 50px;
  top: calc(50% - 28px);
  left: 7px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/icons/cat-slim.svg");
}
@media (min-width: 768px) {
  .catalog-sections__article-title--slim::after {
    width: 140px;
    height: 194px;
    top: 81px;
    left: auto;
    right: 92px;
  }
}
@media (min-width: 1300px) {
  .catalog-sections__article-title--slim::after {
    width: 70px;
    height: 97px;
    top: calc(50% - 55px);
    left: 15px;
  }
}

.catalog-sections__article-title--pro::after {
  width: 67px;
  height: 28px;
  top: calc(50% - 14px);
  left: -9px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/icons/cat-pro.svg");
}
@media (min-width: 768px) {
  .catalog-sections__article-title--pro::after {
    width: 268px;
    height: 112px;
    top: 135px;
    left: auto;
    right: 28px;
  }
}
@media (min-width: 1300px) {
  .catalog-sections__article-title--pro::after {
    width: 134px;
    height: 56px;
    top: calc(50% - 28px);
    left: -19px;
  }
}

.catalog-sections__text {
  color: #444444;
  margin: 0;
  margin-bottom: 19px;
  padding-bottom: 23px;
}
@media (max-width: 767px) {
  .catalog-sections__text {
    border-bottom: 1px solid #d9d9d9;
  }
}
@media (min-width: 768px) {
  .catalog-sections__text {
    margin-bottom: 52px;
    padding-bottom: 0;
  }
}
@media (min-width: 1300px) {
  .catalog-sections__text {
    margin-bottom: 27px;
  }
}

.catalog-sections__link {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 17px;
  align-items: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .catalog-sections__link {
    font-size: 20px;
    line-height: 30px;
  }
}
.catalog-sections__link::after {
  content: "";
  width: 24px;
  height: 12px;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-image: url("../img/icons/arrow.svg");
}
.catalog-sections__link:hover::after {
  width: 32px;
}
.catalog-sections__link:active {
  opacity: 0.3;
}
.catalog-sections__link:active::after {
  width: 32px;
}

.how-work {
  padding-top: 20px;
  padding-bottom: 49px;
}
@media (min-width: 768px) {
  .how-work {
    padding-top: 45px;
    padding-bottom: 47px;
  }
}
@media (min-width: 768px) and (max-width: 1300px) {
  .how-work {
    border-bottom: 1px solid #e6e6e6;
  }
}
@media (min-width: 1300px) {
  .how-work {
    padding-top: 71px;
    padding-bottom: 69px;
  }
}

.how-work__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}
@media (min-width: 768px) {
  .how-work__title {
    margin-bottom: 72px;
    font-size: 60px;
    line-height: 1;
  }
}

.how-work__list {
  padding: 0;
  margin: 0;
  list-style: none;
  counter-reset: how-work;
}
@media (min-width: 768px) {
  .how-work__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 37px;
  }
}
@media (min-width: 1300px) {
  .how-work__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.how-work__item {
  position: relative;
  z-index: 0;
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 20px;
  color: #444444;
  counter-increment: how-work;
}
@media (min-width: 768px) {
  .how-work__item {
    min-height: 280px;
    padding-top: 40px;
    padding-right: 75px;
    grid-template-columns: auto;
    grid-template-rows: 80px auto;
    row-gap: 31px;
  }
}
@media (min-width: 1300px) {
  .how-work__item {
    padding-right: 15px;
  }
}
@media (max-width: 767px) {
  .how-work__item + .how-work__item {
    margin-top: 20px;
  }
}
.how-work__item::before {
  content: "";
  width: 60px;
  height: 60px;
  margin-top: -2px;
  background-color: #68b738;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
@media (min-width: 768px) {
  .how-work__item::before {
    margin-top: 0;
    width: 80px;
    height: 80px;
  }
}
@media (min-width: 768px) {
  .how-work__item::after {
    position: absolute;
    z-index: -1;
    content: counter(how-work);
    top: 0;
    right: 75px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 280px;
    line-height: 1;
    color: #f2f2f2;
  }
}
@media (min-width: 1300px) {
  .how-work__item::after {
    right: 15px;
  }
}

.how-work__item--leaf::before {
  background-image: url("../img/icons/leaf.svg");
}

.how-work__item--boil::before {
  background-image: url("../img/icons/boil.svg");
}

.how-work__item--meal::before {
  background-image: url("../img/icons/meal.svg");
}

.how-work__item--scales::before {
  background-image: url("../img/icons/scales.svg");
}

.example {
  padding: 25px 0 40px;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .example {
    padding: 43px 0 58px;
    background-image: linear-gradient(to top, #eaeaea 462px, #ffffff 462px);
  }
}
@media (min-width: 1300px) {
  .example {
    padding: 0 0 68px;
  }
}

@media (min-width: 1300px) {
  .example__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.example__content {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .example__content {
    margin-bottom: 85px;
    display: grid;
    grid-template-columns: 366px 1fr;
    column-gap: 32px;
  }
}
@media (min-width: 1300px) {
  .example__content {
    margin-bottom: 0;
    grid-template-columns: 366px 70px 1fr;
  }
}

.example__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}
@media (min-width: 768px) {
  .example__title {
    grid-column: 1/-1;
    margin-bottom: 63px;
    font-size: 60px;
    line-height: 1;
  }
}
@media (min-width: 1300px) {
  .example__title {
    margin-bottom: 146px;
  }
}

.example__text {
  margin: 0;
  margin-bottom: 20px;
  color: #444444;
}
@media (min-width: 768px) {
  .example__text {
    margin-bottom: 54px;
    grid-column: 1/-1;
  }
}
@media (min-width: 1300px) {
  .example__text {
    margin-bottom: 69px;
    grid-column: 1/-2;
  }
}

.example__list {
  margin: 0;
  padding: 0;
  margin-bottom: 34px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}
@media (min-width: 768px) {
  .example__list {
    margin-bottom: 0;
    column-gap: 42px;
  }
}
@media (min-width: 1300px) {
  .example__list {
    grid-column: 1/2;
    margin-bottom: 60px;
  }
}

.example__item {
  padding: 14px 5px 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
}

.example__item-title {
  margin-bottom: -14px;
  padding: 0 5px;
  width: 87px;
  background-color: #eaeaea;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: #444444;
  text-transform: lowercase;
}
@media (min-width: 768px) {
  .example__item-title {
    margin-bottom: -5px;
    padding: 0 7px;
    width: auto;
    font-size: 14px;
  }
}

.example__item-definition {
  margin: 0;
  margin-bottom: 8px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .example__item-definition {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__spending {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .example__spending {
    padding-left: 50px;
    align-self: center;
    font-size: 20px;
    text-align: right;
  }
}
@media (min-width: 1300px) {
  .example__spending {
    display: grid;
    grid-template-columns: 1fr 42px 1fr;
    padding-left: 0;
    text-align: left;
    grid-column: 1/2;
  }
  .example__spending span:first-child {
    grid-column: 1/3;
  }
  .example__spending span:last-child {
    text-align: center;
  }
}

.example__images {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .example__images {
    margin-bottom: 28px;
    padding: 0 59px;
    display: grid;
    grid-template-columns: 50% 1fr;
  }
}
@media (min-width: 1300px) {
  .example__images {
    padding: 0;
  }
}

.example__image {
  display: none;
}
@media (min-width: 768px) {
  .example__image {
    display: flex;
    overflow: hidden;
  }
  .example__image img {
    width: 594px;
    height: 511px;
    max-width: none;
  }
}

@media (min-width: 768px) {
  .example__image--after {
    justify-content: end;
  }
}

.example__images--active {
  display: block;
}

.range__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.contacts__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .contacts__text {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  font-style: normal;
}
@media (min-width: 768px) {
  .contacts__address {
    font-size: 16px;
  }
}

.page-footer {
  padding: 20px;
  background-color: #f2f2f2;
}

@media (min-width: 768px) {
  .page-footer__container {
    display: grid;
    grid-template-columns: 164px 1fr 164px;
    align-items: center;
    gap: 16px;
  }
}

.developer {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-decoration: none;
}

.page-main__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  color: #000000;
}
@media (min-width: 768px) {
  .page-main__title {
    font-size: 60px;
  }
}

.page-main__subtitle {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .page-main__subtitle {
    font-size: 20px;
    line-height: 30px;
  }
}

.catalog-list {
  padding: 20px 0;
}

@media (min-width: 768px) {
  .catalog-list__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 68px;
  }
}
@media (min-width: 1300px) {
  .catalog-list__container {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 64px;
  }
}

@media (min-width: 768px) {
  .card {
    background-color: #f2f2f2;
  }
}

.card__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .card__title {
    font-size: 20px;
    line-height: 24px;
  }
}

.card__list {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
@media (min-width: 768px) {
  .card__list {
    font-size: 16px;
    line-height: 1;
  }
}

.show-more__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .show-more__title {
    font-size: 20px;
    line-height: 22px;
  }
}

.show-more__text {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
@media (min-width: 768px) {
  .show-more__text {
    font-size: 16px;
    line-height: 18px;
  }
}

.catalog-additional {
  padding: 20px 0;
}

.catalog-additional__container {
  display: grid;
}
@media (min-width: 1300px) {
  .catalog-additional__container {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.catalog-additional__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  color: #000000;
}
@media (min-width: 768px) {
  .catalog-additional__title {
    font-size: 36px;
  }
}
@media (min-width: 1300px) {
  .catalog-additional__title {
    grid-column: 1/-1;
  }
}

.catalog-additional__list {
  list-style: none;
}
@media (min-width: 1300px) {
  .catalog-additional__list {
    grid-column: 1/-2;
  }
}

.card-row__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #222222;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .card-row__title {
    font-size: 20px;
  }
}

.card-row__list {
  font-size: 14px;
  line-height: 1;
  color: #444444;
}
@media (min-width: 768px) {
  .card-row__list {
    font-size: 16px;
    line-height: 20px;
  }
}

.offer {
  padding: 43px;
  color: #ffffff;
  text-align: center;
  background-color: #68b738;
  background-image: url("../img/background/catbag.jpg");
}

.offer__text {
  font-size: 16px;
  line-height: 20px;
}

.form {
  padding: 20px;
}

.form__container {
  display: grid;
}
@media (min-width: 1300px) {
  .form__container {
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.form__group {
  margin: 0;
  border: none;
}

@media (min-width: 1300px) {
  .form__group--contacts,
.form__group--comment,
.form__group--additional,
.form__footer {
    grid-column: 1/-1;
  }
}

@media (min-width: 768px) {
  .form__footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
  }
}
@media (min-width: 1300px) {
  .form__footer {
    column-gap: 80px;
  }
}

.form__additional {
  line-height: 14px;
}
@media (min-width: 768px) {
  .form__additional {
    font-size: 16px;
    line-height: 1;
  }
}

.field-group {
  padding: 20px 0;
}

.field-group__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .field-group__title {
    font-size: 36px;
    line-height: 1;
  }
}

.field-group__list {
  padding: 0;
  list-style: none;
}

@media (min-width: 768px) {
  .field-group__list--additional,
.field-group__list--contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
  }
}
@media (min-width: 1300px) {
  .field-group__list--additional,
.field-group__list--contacts {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

@media (min-width: 768px) {
  .field-group__list--contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
  }
}
@media (min-width: 1300px) {
  .field-group__list--contacts {
    column-gap: 80px;
  }
}

.field {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .field {
    font-size: 20px;
    line-height: 30px;
  }
}

.field__input {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .field__input {
    font-size: 20px;
    line-height: 30px;
  }
}

.control {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.control--radio {
  color: #222222;
}

.control--checkbox {
  color: #000000;
}

.page-header {
  position: relative;
}
@media (min-width: 1300px) {
  .page-header::after {
    position: absolute;
    content: "";
    left: 50%;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #63a63b;
    z-index: -3;
  }
}

@media (min-width: 768px) {
  .page-header__nav {
    width: 708px;
    margin: 0 auto;
    padding: 24px 0;
    display: grid;
    grid-template-columns: 174px 1fr;
    gap: 16px;
    align-items: center;
  }
}
@media (min-width: 1300px) {
  .page-header__nav {
    width: 1220px;
    padding: 55px 0 25px;
    grid-template-columns: 174px 50%;
    justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .page-header__bar {
    width: 320px;
    margin: 0 auto;
    padding: 12px 20px 13px;
    display: grid;
    grid-template-columns: 34px 1fr 34px;
    gap: 16px;
    align-items: center;
  }
}

.page-header__logo {
  grid-column: 1/3;
}

.page-header__toggle {
  position: relative;
  display: block;
  width: 39px;
  height: 39px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media (min-width: 768px) {
  .page-header__toggle {
    display: none;
  }
}

.page-header__nav--closed .page-header__toggle::before {
  position: absolute;
  right: 5px;
  top: 11px;
  content: "";
  width: 24px;
  height: 1.5px;
  background-color: #000000;
  box-shadow: 0 8px 0 #000000, 0 16px 0 #000000;
}

.page-header__nav--opened .page-header__toggle::before, .page-header__nav--opened .page-header__toggle::after {
  top: 50%;
  right: 5px;
  content: "";
  position: absolute;
  width: 25px;
  height: 1.5px;
  background-color: #000000;
}
.page-header__nav--opened .page-header__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.page-header__nav--opened .page-header__toggle::after {
  transform: rotate(-45deg);
}

.page-header__list {
  margin: 0;
}
@media (max-width: 767px) {
  .page-header__list {
    background-color: #ffffff;
  }
  .page-header__nav--closed .page-header__list {
    display: none;
  }
  .page-header__nav--opened .page-header__list {
    position: absolute;
    left: 0;
    right: 0;
    display: block;
  }
}
@media (min-width: 768px) {
  .page-header__list {
    margin-right: -17px;
  }
}

.logo {
  display: grid;
  grid-template-columns: 34px 1fr;
  gap: 16px;
  align-items: center;
}
.logo:hover {
  opacity: 0.8;
}
.logo:active {
  opacity: 0.6;
}
.logo img {
  display: block;
}

.logo--footer {
  display: flex;
}

.logo__text {
  justify-self: center;
}

.container {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 708px;
  }
}
@media (min-width: 1300px) {
  .container {
    width: 1220px;
  }
}
/*# sourceMappingURL=style.css.map */