@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  min-width: 320px;
  height: 100%;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .page {
    font-size: 16px;
    line-height: 24px;
  }
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-list {
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  list-style: none;
}
@media (max-width: 767px) {
  .site-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .site-list {
    font-size: 18px;
    line-height: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}
@media (min-width: 1300px) {
  .site-list {
    font-size: 20px;
    line-height: 30px;
  }
}

.site-list__link {
  color: #000000;
  text-decoration: none;
}

.promo {
  padding: 20px;
  color: #000000;
  background-color: #68b738;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/background/promo.jpg");
}
@media (max-width: 767px) {
  .promo {
    color: #ffffff;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .promo__container {
    padding-left: 90px;
  }
}

.promo__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 27px;
  line-height: 36px;
}
@media (min-width: 768px) {
  .promo__title {
    font-size: 60px;
    line-height: 1;
  }
}

.promo__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .promo__text {
    font-size: 20px;
  }
}

.button {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  background-color: #68b738;
}

.button--secondary {
  color: #444444;
  background-color: #f2f2f2;
}

@media (min-width: 1300px) {
  .catalog-sections__container {
    padding-top: 82px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.catalog-sections__item {
  padding: 20px;
  background-color: #f2f2f2;
}
@media (max-width: 1300px) {
  .catalog-sections__item + .catalog-sections__item {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .catalog-sections__item + .catalog-sections__item {
    margin-top: 20px;
  }
}

.catalog-sections__article-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .catalog-sections__article-title {
    font-size: 36px;
    line-height: 1px;
  }
}

.catalog-sections__text {
  color: #444444;
}

.catalog-sections__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .catalog-sections__link {
    font-size: 20px;
    line-height: 30px;
  }
}

.how-work {
  padding: 20px;
}

.how-work__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}
@media (min-width: 768px) {
  .how-work__title {
    font-size: 60px;
    line-height: 1;
  }
}

.how-work__list {
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .how-work__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
}
@media (min-width: 1300px) {
  .how-work__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.how-work__item {
  color: #444444;
}
@media (max-width: 767px) {
  .how-work__item + .how-work__item {
    margin-top: 20px;
  }
}

.example {
  padding: 20px;
  background-color: #eaeaea;
}

@media (min-width: 1300px) {
  .example__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}
@media (min-width: 768px) {
  .example__title {
    font-size: 60px;
    line-height: 1;
  }
}

.example__text {
  color: #444444;
}

.example__list {
  text-align: center;
}
@media (min-width: 768px) {
  .example__list {
    text-align: left;
  }
}

.example__item-title {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: #444444;
  text-transform: lowercase;
}
@media (min-width: 768px) {
  .example__item-title {
    font-size: 14px;
  }
}

.example__item-definition {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .example__item-definition {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__spending {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .example__spending {
    font-size: 20px;
    text-align: left;
  }
}

.range__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.contacts__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .contacts__text {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  font-style: normal;
}
@media (min-width: 768px) {
  .contacts__address {
    font-size: 16px;
  }
}

.page-footer {
  padding: 20px;
  background-color: #f2f2f2;
}

@media (min-width: 768px) {
  .page-footer__container {
    display: grid;
    grid-template-columns: 164px 1fr 164px;
    align-items: center;
    gap: 16px;
  }
}

.developer {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-decoration: none;
}

.page-main__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  color: #000000;
}

.page-main__subtitle {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-list {
  padding: 20px;
}

.card__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;
}

.card__list {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.show-more__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.show-more__text {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.catalog-additional {
  padding: 20px;
}

.catalog-additional__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  color: #000000;
}

.catalog-additional__list {
  list-style: none;
}

.card-row__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #222222;
  text-transform: uppercase;
}

.card-row__list {
  font-size: 14px;
  line-height: 1;
  color: #444444;
}

.offer {
  padding: 43px;
  color: #ffffff;
  text-align: center;
  background-color: #68b738;
  background-image: url("../img/background/catbag.jpg");
}

.offer__text {
  font-size: 16px;
  line-height: 20px;
}

.form {
  padding: 20px;
}

.form__group {
  margin: 0;
  border: none;
}

.form__additional {
  line-height: 16px;
}

.field-group__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}

.field-group__list {
  padding: 0;
  list-style: none;
}

.field {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}

.field__input {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}

.control {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.control--radio {
  color: #222222;
}

.control--checkbox {
  color: #000000;
}

@media (min-width: 768px) {
  .page-header__nav {
    width: 708px;
    margin: 0 auto;
    padding: 24px 0;
    display: grid;
    grid-template-columns: 174px 1fr;
    gap: 16px;
    align-items: center;
  }
}
@media (min-width: 1300px) {
  .page-header__nav {
    width: 1220px;
  }
}

@media (max-width: 767px) {
  .page-header__bar {
    width: 320px;
    margin: 0 auto;
    padding: 10px 20px 18px;
    display: grid;
    grid-template-columns: 34px 1fr 34px;
    gap: 16px;
    align-items: center;
  }
}

.page-header__logo {
  grid-column: 1/3;
}

@media (min-width: 768px) {
  .page-header__toggle {
    display: none;
  }
}

.page-header__list {
  margin: 0;
}

.logo {
  display: grid;
  grid-template-columns: 34px 1fr;
  gap: 16px;
  align-items: center;
}

.logo--footer {
  display: flex;
}

.logo__text {
  justify-self: center;
}

.container {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 708px;
  }
}
@media (min-width: 1300px) {
  .container {
    width: 1220px;
  }
}
/*# sourceMappingURL=style.css.map */