@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
}
.page {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.page__body {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-list {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  list-style: none;
}

.site-list__link {
  color: #000000;
  text-decoration: none;
}

.promo {
  padding: 20px;
  color: #ffffff;
  background-color: #68b738;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../img/background/promo.jpg");
}

.promo__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 27px;
  line-height: 36px;
}

.promo__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.button {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  background-color: #68b738;
}

.catalog-sections__item {
  padding: 20px;
  background-color: #f2f2f2;
}

.catalog-sections__article-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  text-transform: uppercase;
}

.catalog-sections__text {
  color: #444444;
}

.catalog-sections__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.how-work {
  padding: 20px;
}

.how-work__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.how-work__list {
  list-style: none;
}

.how-work__item {
  color: #444444;
}

.example {
  padding: 20px;
  background-color: #eaeaea;
}

.example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.example__text {
  color: #444444;
}

.example__list {
  text-align: center;
}

.example__item-title {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  text-transform: lowercase;
}

.example__item-definition {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.example__spending {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.range__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts {
  padding: 20px;
}

.contacts__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.contacts__address {
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  font-style: normal;
}

.page-footer {
  padding: 20px;
  background-color: #f2f2f2;
}

.developer {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */