$font-title: "Oswald", "Arial", sans-serif;
$font-body: "Arial", sans-serif;

$color-black: #000000;
$color-white: #ffffff;
$color-primary: #68b738;
$color-primary-2: #63a63b;
$color-primary-ha: #5eaa2f;

$color-grey-dark: #444444;
$color-grey-dark-2: #222222;
$color-grey-dark-3: #111111;

$color-grey-light: #f2f2f2;
$color-grey-light-2: #eaeaea;
$color-grey-light-3: #c4c4c4;
$color-grey-light-4: #e6e6e6;
$color-grey-light-5: #d9d9d9;
$color-grey-light-6: #cdcdcd;

// Viewports

$tablet-width: 768px;
$desktop-width: 1300px;
$mobile-width-only: 767px;
